@import "@fortawesome/fontawesome-free/css/all.css";
@import "tailwindcss/base";
@import "tailwindcss/utilities";

.transition {
  transition: all 0.25s ease;
}

.clip-padding {
  background-clip: padding-box;
}

.drag {
  -webkit-app-region: drag;
}

.drag-none {
  -webkit-app-region: no-drag;
}
